.article-intro {
  padding: $margin*4;
  line-height:1.8em;
  font-weight:300;
  letter-spacing:.025em;
  color:#000000;
  background-color:#f0f0f0;
  overflow:hidden;
  p{
    margin-bottom:$margin;
  }
}

.article-body {
  
}

